name: Daily Data Sync

on:
  schedule:
    - cron: '0 19 * * *' # 한국 시간 새벽 4시
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Call Sync API
        run: |
          curl -X GET "https://onedayofmusic.com/api/cron/sync"